input[type=number]
{
	background-color: #222222;
	color: white;
	font-size: 50px;
	border-style: none;
	width: 130px;
	font-family: SourceCodePro-Light,tahoma,geneva,algerian;
}

select
{
	background-color: #222222;
	color: white;
	font-size: 50px;
	border-style: none;
	width: 85px;
	font-family: SourceCodePro-Light,tahoma,geneva,algerian;
}

button
{
	background-color: #222222;
	color: white;
	font-size: 50px;
	border-style: solid;
	width: 180px;
	font-family: SourceCodePro-Light,tahoma,geneva,algerian;
}